 body {
        background-image: url("Picture2.jpg");
        background-repeat: no-repeat;
        background-attachment: fixed;  
        background-size: cover;
    
        
        font-family: "Lato", sans-serif;
    
}

.info{
   left: 10px;
    position: absolute;
    padding: 15px;
}

.infotwo{
    top: 10px;
    border: 2px solid black;
    padding: 40px;
    position: absolute;
    right: 10px
}